/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.mt-101 {
    margin-top: 25.25rem/* 404px */
}

.mr-320 {
    margin-right: 60rem/* 960px */;
}
